/* ====================
navbar starts
-====================== */
nav {
  background: red;
  padding: 30px 0px !important;
}
.nav-button {
  background: transparent;
  text-decoration: none;
  padding: 16px 48px;
  border-radius: 40px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: 1px solid white;
  transition: 0.4s;
}
.nav-button:hover {
  background: #fcd980;
  border: 1px solid transparent;
  color: black;
}
.navbar-nav {
  column-gap: 32px;
  padding-right: 48px;
}
.nav-link {
  color: #bbbbcb;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transform: 0.4s;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.nav-link:hover {
  color: white;
}
/*
Common css
*/
a{
    text-decoration: none;
}
ul,ol{
  list-style: none;
}
/*
Common css
*/

/* ====================
navbar ends
-====================== */
/* ====================
banner starts
-====================== */
.banner {
  background: #1c1e53;
  padding: 80px 0px;
}
.banner h2 {
  font-size: 54px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 72px;
}
.banner p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 28px;
  width: 400px;
  padding-top: 24px;
  padding-bottom: 48px;
}
.banner .banner_button {
  background: #fcd980;
  padding: 16px 56px;
  border-radius: 40px;
  color: #1b1c2b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: 0.4s;
  border: 1px solid transparent;
}

.banner .banner_button:hover {
  background: transparent;
  border-color: white;
  color: white;
}
.banner .banner_button2 {
  text-decoration: none;
  padding: 16px 56px;

  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.banner .banner_button2 {
  position: relative;
}
.banner .banner_button2 .buttonIcon {
  position: absolute;
  top: 22px;
  right: 56px;
  opacity: 0;
}
.banner .banner_button2:hover .buttonIcon {
  right: 22px;
  opacity: 1;
}

/* ====================
banner ends
-====================== */
